*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body,
html {
  background: #727272;
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  color: #2F2F2F;
  font-weight: 400;
  height: 100%;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

[class*=__container] {
  max-width: 1871px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.header__container {
  padding: 11px 24px 7px 24px;
  border-radius: 5px;
  background: #FFF;
  margin-top: 30px;
  margin-bottom: 6px;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.header__title span {
  font-weight: 600;
}

.header__column {
  display: flex;
  align-items: end;
}

.header__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translateY(-9px);
  margin-right: 10px;
}

.section {
  margin-bottom: 50px;
}

.section__container {
  border-radius: 5px;
  background: #F5F5F5;
  padding: 34px 37.75px 65px 29px;
}

.section__title-section {
  margin-bottom: 17.5px;
  color: #494A4E;
}

.section__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #494A4E;
}

.section__sub-title {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  height: -moz-fit-content;
  height: fit-content;
}

.table {
  width: 100%;
  min-width: 1820px;
  min-width: -moz-max-content;
  min-width: max-content;
}

.table__row {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
  padding: 12px 47px 17px 42px;
  background-color: #FFF;
  border-radius: 5px;
  position: relative;
}

.table__row:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 1px;
  background-color: #E6E6E6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.table__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f6f6f6;
}

.table__head {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: rgba(127, 168, 240, 0.5);
  padding: 23.79px 49.24px 23.75px 47.7px;
}

.table__head__item {
  width: 10%;
  color: #2F2F2F;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table__data__item {
  flex-basis: 30%;
}

.table__head__item {
  text-align: left;
}

.table__data {
  width: 140px;
  text-align: right;
  font-weight: 700;
}

.table__data_thin {
  font-weight: 400;
}

.table__data_underline {
  text-decoration: underline;
}

.table-wrapper::-webkit-scrollbar {
  height: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #959595;
  border-top: 4px solid #f5f5f5;
  border-bottom: 4px solid #f5f5f5;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #BACEF2;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}

.section__item:not(:last-child) {
  margin-bottom: 17px;
}

.footer__container {
  padding-bottom: 70px;
}

.footer__body {
  display: flex;
  align-items: end;
  justify-content: end;
}

.footer__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
  text-align: right;
}

.text-footer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.text-footer__element {
  color: #FFF;
}

@media (max-width: 991.98px) {
  .header__title {
    font-size: 18px;
  }

  .header__img img {
    max-width: 150px;
  }

  .table__row:not(:last-child)::after {
    width: 95.5%;
  }
}

@media (max-width: 767.98px) {
  .header__title {
    font-size: 16px;
  }

  .header__img img {
    max-width: 150px;
  }

  .header__text {
    font-size: 8px;
    margin: 0;
    width: 65px;
    transform: none;
  }

  .header__container {
    margin-top: 25px;
    padding: 14px 34px 10px 21px;
  }

  .footer__container {
    padding-bottom: 105px;
  }

  .footer__body {
    align-items: center;
    justify-content: center;
  }

  .footer__text {
    text-align: center;
  }

  .section__container {
    padding: 30px 20px 150px 20px;
  }
}

@media (max-width: 575.98px) {
  .header__img img {
    max-width: 63px;
  }

  .header__title {
    font-size: 12px;
  }
}